<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dT -->
      <package
            uri="http://www.example.org/dT"
            class="dT.DTPackage"
            genModel="model/dT.genmodel"/>
   </extension>

</plugin>
